<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.fosdem"
      android:versionCode="1"
      android:versionName="1.0">
      <uses-permission android:name="android.permission.INTERNET" />
      
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <meta-data android:name="android.app.default_searchable"
                       android:value="org.fosdem.schedules.Main" />
        <uses-library android:name="android.test.runner"/>
        <activity android:name="org.fosdem.schedules.Main"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Receives the search request. -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Points to searchable meta data. -->
            <meta-data android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
            
        </activity>
        <activity android:name="org.fosdem.schedules.DisplayEvent">
            <intent-filter>
                <action android:name="org.fosdem.schedules.DISPLAY_EVENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<activity android:name="org.fosdem.schedules.TrackListActivity">
		</activity>
		<activity android:name="org.fosdem.schedules.EventListActivity">
		</activity>
		<provider android:name="org.fosdem.db.DBAdapter" android:authorities="org.fosdem.pojo.Event"/>
        <!-- Provides search suggestions for words and their definitions. -->
        <provider android:name="org.fosdem.providers.SearchProvider"
                android:authorities="fosdemsearch"
                android:syncable="false" />
    </application>
    <uses-sdk  android:targetSdkVersion="4" android:minSdkVersion="3"/>
	<instrumentation 
		android:name="android.test.InstrumentationTestRunner"
    	android:targetPackage="org.fosdem"
    	android:label="FOSDEM JUnit" />
</manifest> 